In [9]:
import pytesseract
from pdf2image import convert_from_path
from PIL import Image
import os

In [ ]:
temp1 = convert_from_path("data/unprocessed/debit/2016-11-01_Statement.pdf")[1]
config = "--psm 12" #working numbers 6, 11, 12
print(pytesseract.image_to_string(temp1,config=config))

In [ ]:
temp1 = convert_from_path("data/unprocessed/debit/2017-01-01_Statement.pdf")[1]
config = "--psm 11" #working numbers 6, 11, 12
string_temp = pytesseract.image_to_string(temp1,config=config)
print(string_temp.split("\nDate\n\nDescription\n\nRetraits ($)\n\nDÃ©pots ($)\n\nSoldes ($)")[1].split("Total")[0].split("\n\n")[4:])

In [ ]:
temp1

In [ ]:
print(pytesseract.image_to_string(temp1))

In [ ]:
Image.open(temp1)

Attempt 2

In [ ]:
#Turn all pdfs into a jpeg image
print(os.listdir("data/unprocessed/debit"))

In [ ]:
image_test = convert_from_path("data/unprocessed/debit/2016-11-01_Statement.pdf")[1]
image_test.size

In [ ]:
#image_test2 = image_test.crop((325,400,1650,2200))
image_test2 = image_test.crop((325,397,1650,424))
config = "--psm 12 --oem 1"
string_temp = pytesseract.image_to_string(image_test2, config=config)
print(string_temp)

In [ ]:
image_test2

In [ ]:
#image_test2 = image_test.crop((325,400,1650,2200))
image_test3 = image_test.crop((325,430,1650,457))
config = "--psm 7 --oem 1"
string_temp = pytesseract.image_to_string(image_test3, config=config)
print(string_temp)

In [ ]:
image_test3

In [ ]:
image_test4 = image_test.crop((325,463,1650,490))
config = "--psm 7 --oem 1"
string_temp = pytesseract.image_to_string(image_test4, config=config)
print(string_temp)

In [ ]:
image_test4

In [ ]:
image_test5 = image_test.crop((325,490+6,1650,490+6+27))
config = "--psm 12 --oem 1"
string_temp = pytesseract.image_to_string(image_test5, config=config)
string_temp

In [ ]:
image_test5

In [ ]:
string_temp.rstrip("\n")

Testing for cleaning

In [1]:
import pandas as pd
temp = pd.read_csv('data/processed/debit/2018-02-01.csv')
temp_fileter = temp['date'].str.contains(r"[0-3][0-9]\s*[A-Z]{3}")

In [2]:
temp[temp_fileter]

      date                       description  charge     total
0   02 JAN   C/ACHAT 8421868 COUCHE-TARD # 1  119,99  2 164,38
1   03 JAN         G/DEPOT 8421868 JOUR-NUIT  508,64  2 673,02
2   03 JAN    C/ACHAT 8421868 THE HOME DEPOT   10,29  2 662,73
3   08 JAN     C/ACHAT 8421868 ANIMAL EXPERT   17,24  2 645,49
4   08 JAN      C/ACHAT 8421868 ECONOMAX #53  458,75  2 186,74
5   08 JAN   C/ACHAT 8421868 REST EGGSQUIS G   17,12  2 169,62
6   08 JAN    C/ACHAT 8421868 DOLLARAMA #176    8.05  2 161,57
7   08 JAN      C/ACHAT 8421868 BEST BUY #82   80,69  2 080,88
8   10 JAN   C/ACHAT 8421 868 PIZZAHUT R296-   30,34  2 050,54
9   12 JAN   C/ACHAT 8421868 REST EGGSQUIS G   29,75  2 020,79
10  12 JAN        C/ACHAT 8421868 MAXI #8911   85,97  1 934,82
11  15 JAN                      DEPOT MOBILE  710,22  2 645,04
12  17 JAN    C/ACHAT 8421868 EB GAMES 1 866   78,74  2 566,30
13  17 JAN  C/ACHAT 8421 868 PIZZA PIZZA # 3   22,43  2 543,87
14  19 JAN        C/ACHAT 8421868 MAXI #8911  124,94  2 418,93
15  22 JAN   C/ACHAT 8421868 PARTY EXPERT GR    5,74  2 413,19
16  23 JAN  C/ACHAT 8421 868 BILLETTERIE LON   57,50  2 355,69
17  23 JAN   C/ACHAT 8421868 WAL-MART #1 167   11,06  2 344,63
18  24 JAN   C/ACHAT 8421868 PHARMAPRIX #004   15,83  2 328,80
19  24 JAN                  MOBILE PAIEM/FAC   85,16  2 243,64
20  24 JAN  C/ACHAT 8421 868 BILLETTERIE LON   19,00  2 224,64
21  26 JAN          C/ACHAT 8421868 CAFE GAR    5,34  2 219,30
22  29 JAN   C/ACHAT 8421868 SUPER C GREENFI   83,80  2 135,50
23  29 JAN         G/DEPOT 8421868 JOUR-NUIT  529,95  2 665,45
24   31JAN   C/ACHAT 8421868 BKSTR CHAMPLAIN  203,70  2 461,75
25   31JAN      C/ACHAT 8421868 DUNNS FAMOUS   22,48  2 439,27
26  01 FEV                       FRAIS FIXES    2,75  2 436,52

In [5]:
import pandas as pd
#testing the concatination of csvs
"data/processed/debit/2016-12-01.csv"
temp1 = pd.read_csv("data/processed/debit/2016-11-01.csv")
temp2 = pd.read_csv("data/processed/debit/2016-12-01.csv")
pd.concat([temp1,temp2])

     date         description charge  total
0  01 NOV    FR TENUE DE CPTE   2,50  -2,50
1  01 NOV         FRAIS FIXES   0,44  -2,94
0  01 DEC    FR TENUE DE CPTE   2,50  -5,44
1  01 DEC         FRAIS FIXES   2,75  -8,19
2  01 DEC  INTERETS DECOUVERT   0,05  -8,24