In [2]:
import pytesseract
from pdf2image import convert_from_path
from PIL import Image
import os
import pandas as pd

In [ ]:
temp1 = convert_from_path("data/unprocessed/debit/2016-11-01_Statement.pdf")[1]
config = "--psm 12" #working numbers 6, 11, 12
print(pytesseract.image_to_string(temp1,config=config))

In [ ]:
temp1 = convert_from_path("data/unprocessed/debit/2017-01-01_Statement.pdf")[1]
config = "--psm 11" #working numbers 6, 11, 12
string_temp = pytesseract.image_to_string(temp1,config=config)
print(string_temp.split("\nDate\n\nDescription\n\nRetraits ($)\n\nDÃ©pots ($)\n\nSoldes ($)")[1].split("Total")[0].split("\n\n")[4:])

In [ ]:
temp1

In [ ]:
print(pytesseract.image_to_string(temp1))

In [ ]:
Image.open(temp1)

Attempt 2

In [ ]:
#Turn all pdfs into a jpeg image
print(os.listdir("data/unprocessed/debit"))

In [ ]:
image_test = convert_from_path("data/unprocessed/debit/2016-11-01_Statement.pdf")[1]
image_test.size

In [ ]:
#image_test2 = image_test.crop((325,400,1650,2200))
image_test2 = image_test.crop((325,397,1650,424))
config = "--psm 12 --oem 1"
string_temp = pytesseract.image_to_string(image_test2, config=config)
print(string_temp)

In [ ]:
image_test2

In [ ]:
#image_test2 = image_test.crop((325,400,1650,2200))
image_test3 = image_test.crop((325,430,1650,457))
config = "--psm 7 --oem 1"
string_temp = pytesseract.image_to_string(image_test3, config=config)
print(string_temp)

In [ ]:
image_test3

In [ ]:
image_test4 = image_test.crop((325,463,1650,490))
config = "--psm 7 --oem 1"
string_temp = pytesseract.image_to_string(image_test4, config=config)
print(string_temp)

In [ ]:
image_test4

In [ ]:
image_test5 = image_test.crop((325,490+6,1650,490+6+27))
config = "--psm 12 --oem 1"
string_temp = pytesseract.image_to_string(image_test5, config=config)
string_temp

In [ ]:
image_test5

In [ ]:
string_temp.rstrip("\n")

Testing for cleaning

In [12]:
import pandas as pd
temp = pd.read_csv('data/processed/debit/2021-02-01.csv')
temp_fileter = temp['date'].str.contains(r"[0-3][0-9]\s*[A-Z]{3}")

In [13]:
temp[temp_fileter]

Empty DataFrame
Columns: [date, description, charge, total]
Index: []

In [ ]:
import pandas as pd
#testing the concatination of csvs
"data/processed/debit/2016-12-01.csv"
temp1 = pd.read_csv("data/processed/debit/2016-11-01.csv")
temp2 = pd.read_csv("data/processed/debit/2016-12-01.csv")
pd.concat([temp1,temp2])

In [9]:
#create a year column for the data
path = "data/processed/debit/"
os.listdir(path)
#step one turn the months into proper datetime objects
month_to_num = {"JAN" : "01", "FEV" : "02", "MAR" : "03", "AVR" : "04", "MAI" : "05", "JUN" : "06", "JUI" : "07", "AOU" : "08", "SEP" : "09", "OCT" : "10", "NOV" : "11", "DEC" : "12"}


#Lets do our testing here
testing_file = "data/processed/debit/2021-02-01.csv"
file_name = testing_file[-14:-4]
testing_file = pd.read_csv(testing_file)
offset = 0
test = pd.to_datetime(file_name[:4] + testing_file['date'].str[-3:].map(month_to_num) + testing_file['date'].str[:2])
testing_file["date"] = test
if(int(file_name[5:7]) == 1):
    mask = testing_file["date"].dt.month == 12
    testing_file["date"][mask] -= pd.DateOffset(years = 1)
testing_file.to_csv("test.csv",index=False)
testing_file

   date                       description  charge     total
0   NaT                MOBILE VIRDT IT/PE  334.50  12817.20
1   NaT       CR. SOLIDARITE GOUV. QUEBEC  161.63  12978.83
2   NaT                       TPS CANADA.  112.75  13091.58
3   NaT      C/ACHAT 8421868 AU BON SUSHI   21.16  13070.42
4   NaT   C/ACHAT 8421868 MARCHE J P FONT   46.03  13024.39
5   NaT                ASSURANCE SUN LIFE   18.68  13005.71
6   NaT                ASSURANCE SUN LIFE   48.56  12957.15
7   NaT  C/ACHAT 8421 868 BILLETTERIE LON   19.00  12938.15
8   NaT              COMPTE DIVERS PAYPAL   39.38  12898.77
9   NaT   C/ACHAT 8421868 COUCHE-TARD # 1   13.11  12885.66
10  NaT              COMPTE DIVERS PAYPAL   34.46  12851.20
11  NaT              COMPTE DIVERS PAYPAL   16.49  12834.71
12  NaT                MOBILE VIRDT IT/PE   39.00  12795.71
13  NaT              COMPTE DIVERS PAYPAL   24.71  12771.00
14  NaT        C/ACHAT 8421868 MAXI #8911   79.90  12691.10
15  NaT                MOBILE VIRCR IT/PE   39.95  12731.05
16  NaT              COMPTE DIVERS PAYPAL    2.00  12729.05
17  NaT                MOBILE VIRDT IT/PE   15.00  12714.05
18  NaT                MOBILE VIRDT IT/PE   23.50  12690.55
19  NaT   C/ACHAT 8421868 COUCHETARD #431    7.45  12683.10
20  NaT                  MOBILE PAIEM/FAC  212.54  12470.56
21  NaT                  MOBILE PAIEM/FAC   98.01  12372.55
22  NaT                  MOBILE PAIEM/FAC   68.31  12304.24
23  NaT              COMPTE DIVERS PAYPAL   20.63  12283.61
24  NaT   C/ACHAT 8421868 COUCHETARD #431    8.95  12274.66
25  NaT           PAIEMENT FEDERAL CANADA  900.00  13174.66
26  NaT           PAIEMENT FEDERAL CANADA  900.00  14074.66

In [ ]:
pd.to_datetime(pd.read_csv("test.csv")["date"])

In [2]:
#create a function to change the date column into a datetime series
MONTH_TO_NUM = {"JAN" : "01", "FEV" : "02", "MAR" : "03", "AVR" : "04", "MAI" : "05", "JUN" : "06", "JUI" : "07", "AOU" : "08", "SEP" : "09", "OCT" : "10", "NOV" : "11", "DEC" : "12"}

def create_datetime(df, file_name):
    year= file_name[:4]
    df["date"] = pd.to_datetime(year + df["date"].str[-3:].map(MONTH_TO_NUM) + df["date"].str[:2])
    if(file_name[5:7] == "01"):
        #mask used to 
        mask = df["date"].dt.month == 12
        df["date"][mask] -= pd.DateOffset(years = 1)
    return df

In [ ]:
#create a year column for the data
path = "data/processed/debit/"
files = os.listdir(path)
for file in files:
    print(file)
    temp = create_datetime(pd.read_csv(path + file),file)
    temp.to_csv(path+file, index=False)

:

In [3]:
pd.read_csv("data\processed\debit/2022-02-01.csv")['total'].replace(r"[^\d]","", regex=True)

0     4406.57
1     4326.10
2     4440.10
3     4603.85
4     4585.17
5     4536.61
6     4854.68
7     5261.23
8     5451.23
9     5535.82
10    5472.88
11    5454.50
12    5642.50
13    5617.92
14    5612.45
15    5584.00
16    3084.00
17    2946.01
18    2841.00
19    1736.39
20    2006.39
21    2276.39
22    2293.39
23    2481.39
24    2605.99
25    2805.99
26    2855.99
27    3605.99
28    2105.99
29    2023.77
30    2051.03
Name: total, dtype: float64

Apply all things from function to backup here

In [4]:
#create a year column for the data
path = "data/processed/debit/"
files = os.listdir(path)
for file in files:
    df = pd.read_csv(path + file)

    #change the format of total and charge so we can use it without error later
    df["total"] = df["total"].replace(r"[^\d]", "", regex=True)
    df["charge"] = df["charge"].replace(r"[^\d]", "", regex=True)
    #turn it into a decimal
    df["total"] = df["total"].str[:-2] + "." + df["total"].str[-2:]
    df["charge"] = df["charge"].str[:-2] + "." + df["charge"].str[-2:]
    df.to_csv(path + file, index=False)

In [54]:
import re
error = "OOOO02o JAN"
pattern = r"[^\s*[A-Z]{3}]"
pattern = r"^\D+[^[0-3][0-9]]"
re.sub(pattern, "", error)

'OOOO02o JAN'

In [68]:
import pandas as pd
#here we will do some catagorizing of the descriptions on the data and create a make shift catagorizer
test = pd.read_csv("expenses.csv").dropna()
test.pop("total")
test["catagory"] = pd.NA
bills = [
    "frais fixes",
    "fr tenue",
    "interets decouvert"
]
mobile_payments = [
    "mobile",
    "internet paiem"
]
transport = [
    "billetterie lon",
    "billeterie du"
]
resturants = [
    "la belle provin",
    "mcdonald",
    "krispy kreme",
    "tim horton",
    "tims hortons",
    "cafe gar",
    "subway",
    "cantine",
    "restaurants",
    "dairy queen",
    "dunns",
    "eggsquis",
    "thai express",
    "pizzahut",
    "n g drive in",
    "pizza pizza"
]
groceries = [
    "maxi",
    "super c",
    "iga extra",
    "depanneur"
]
gas_station = [
    "petro-canada",
    "couche-tard"
]
withdraws = [
    "retrait"
]
food = [
    "LE TERROIR DE D"
]
office_ware = [
    "bureau en gros",
    "BKSTR CHAMPLAIN"
]
hard_ware = [
    "home depot"
]
home_ware = [
    "economax"
]
electronics = [
    "best buy",
    "canada computer"
]
retail = [
    "wal-mart",
    "tigre geant",
    "dollarama"
]
#mask creations
test.loc[test["description"].str.contains("|".join(bills), case=False), "catagory"] = "bills" # bills
test.loc[test["description"].str.contains("|".join(mobile_payments), case=False),'catagory'] = "mobile_payments" #bills
test.loc[test["description"].str.contains("|".join(transport), case=False),'catagory'] = "transport" #bills
test.loc[test["description"].str.contains("|".join(resturants), case=False),'catagory'] = "resturants" #food
test.loc[test["description"].str.contains("|".join(groceries), case=False),'catagory'] = "groceries" #food
test.loc[test["description"].str.contains("|".join(gas_station), case=False),'catagory'] = "gas_station" #bills/leisure
test.loc[test["description"].str.contains("|".join(withdraws), case=False),'catagory'] = "withdraws" #other
test.loc[test["description"].str.contains("|".join(food), case=False),'catagory'] = "food" # food/retail
test.loc[test["description"].str.contains("|".join(office_ware), case=False),'catagory'] = "office_ware" #retail
test.loc[test["description"].str.contains("|".join(hard_ware), case=False),'catagory'] = "hard_ware" #retail
test.loc[test["description"].str.contains("|".join(home_ware), case=False),'catagory'] = "home_ware" #retail
test.loc[test["description"].str.contains("|".join(electronics), case=False),'catagory'] = "electronics" #retail
test.loc[test["description"].str.contains("|".join(retail), case=False),'catagory'] = "retail" #retail
test[test.catagory.isna()]

#make two cats [nec and lux]

            date                      description   charge catagory
64    2017-06-05       C/ACHAT 8421868 LE BISTROM    15.00     <NA>
173   2018-01-08    C/ACHAT 8421868 ANIMAL EXPERT    17.24     <NA>
181   2018-01-17   C/ACHAT 8421868 EB GAMES 1 866    78.74     <NA>
184   2018-01-22  C/ACHAT 8421868 PARTY EXPERT GR     5.74     <NA>
187   2018-01-24  C/ACHAT 8421868 PHARMAPRIX #004    15.83     <NA>
...          ...                              ...      ...      ...
1144  2022-03-18             COMPTE DIVERS PAYPAL     5.47     <NA>
1145  2022-03-18             COMPTE DIVERS PAYPAL    24.58     <NA>
1146  2022-03-22                 VIREMENT INTERAC    96.14     <NA>
1148  2022-03-29             COMPTE DIVERS PAYPAL    44.43     <NA>
1149  2022-04-01                 VIREMENT INTERAC  1500.00     <NA>

[507 rows x 4 columns]

In [69]:
test[test["description"].str.contains('LE BISTROM', case=False)]
test

            date           description   charge         catagory
0     2016-11-01           FRAIS FIXES     0.44            bills
1     2016-12-01      FR TENUE DE CPTE     2.50            bills
2     2016-12-01           FRAIS FIXES     2.75            bills
3     2016-12-01    INTERETS DECOUVERT     0.05            bills
4     2016-12-30           FRAIS FIXES     2.75            bills
...          ...                   ...      ...              ...
1145  2022-03-18  COMPTE DIVERS PAYPAL    24.58             <NA>
1146  2022-03-22      VIREMENT INTERAC    96.14             <NA>
1147  2022-03-28     MOBILE VIREMENTMC   728.92  mobile_payments
1148  2022-03-29  COMPTE DIVERS PAYPAL    44.43             <NA>
1149  2022-04-01      VIREMENT INTERAC  1500.00             <NA>

[1149 rows x 4 columns]

In [96]:
"|".join(mobile_payments)

'mobile'